@keyframes gradientMove {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}

.animate-gradient {
background: linear-gradient(90deg, #9cc674, #758666, #354a21);
background-size: 300% 100%;
animation: gradientMove 3s linear infinite;
}

html { 
scroll-behavior: smooth;
scroll-padding-top: 100px; 
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 50;
background-color: white;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.border-color {
border-color: #5a664f;
}

.w-30 { width: 120px; }
.h-25 { height: 100px; }

